@import url('https://fonts.cdnfonts.com/css/green-tea');
@import url('https://fonts.cdnfonts.com/css/arizona-heatwave');

* {
    margin: 0px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    /*! This is how you add gifs as a background !*/
    background-image: url(https://i.gifer.com/origin/bc/bc03a30009724651ee6fd43bbb9f95f4.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
/* https://media.tenor.com/OcnKh6l_jIIAAAAC/green-tea-anime.gif */
/* https://64.media.tumblr.com/1aacc20811c5f18df81a6b3be9dd4c46/tumblr_p3e38hfF3P1qie3w6o4_500.gif */
/* https://i.gifer.com/origin/bc/bc03a30009724651ee6fd43bbb9f95f4.gif */
/* https://media.tenor.com/vnOVLAbEyToAAAAd/darwin-dancing.gif */

.header-logo, .hero-img {
    height: auto;
    width: 200px;
}

.top-header {
    background-color: #121212;
    opacity: 98%;
    display: flex;

    /*! This is how you make something follow the top of your screen as you scroll down !*/
    /*! -webkit-sticky is for safari !*/
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.header-logo {
    /*! The reason why it's showing as an oval is because it's wider than it is taller !*/
    /*! So you have to make the same size!!! !*/
    height: 60px;
    max-width: 60px;
    border-radius: 50%;
}

.separator {
    display: flex;
    width: 50px;
}

.logo-text {
    font-family: 'Arizona Heatwave', sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.heart {
    color: #d63d55;
}

ul {
    /* this removes the dots on the list items*/
    font-size: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
}

.header-links {
    font-family: 'Arizona Heatwave', sans-serif;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 18px;
    gap: 16px;
}

.header-links.text {
    color: white;
}

.text.three {
    padding-right: 16px
}

.hero-section {
    display: flex;
    justify-content: center;
    background-color: rgba(46,32,28, 0.95);
    height: 400px;
    padding: 0px 50px;
    margin-bottom: 200px;
    border-radius: 50px;
}

.left-side {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 50px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.hero-main-text {
    font-family: 'Green Tea', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.hero-img {
    border-radius: 15px;
}

.sign-up {
    margin-top: 30px;
    font-size: 20px;
    background-color: #d63d55;
    border: none;
    padding: 8px 12px;
    border-radius: 100px;
}

.sign-up:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.information-section {
    background-color: #52cabe;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.information-title {
    font-family: 'Green Tea', sans-serif;
    font-size: 36px;
    padding-top: 24px;
    padding-bottom: 48px;
    font-weight: bold; 
    color: #2e201c;
}

.information{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.img .information-img {
    width: auto;
    height: 200px;
    border-radius: 50px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img .text {
    font-size: 24px;
    font-family: 'Green Tea', sans-serif;
}

.hero-secondary-text {
    font-family: 'Arizona Heatwave', sans-serif;
}

.quote-section {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    background-image: url(../img/second-background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}

.quote-holder {
    background-color: 	rgb(255, 255, 255, .70);
    padding: 50px;
    border-radius: 20px;
}

.quote {
    font-size: 36px;
}